.DS_Store
.eslintcache
localization
node_modules
vendor
.wp-env.override.json
dist/
10up-lib/
tests/cypress/screenshots
tests/cypress/videos
tests/cypress/downloads
tests/cypress/reports
eslint-report.json
