.wp-list-table {
	.ui-sortable {
		tr {
			cursor: move;
			&.inline-editor {
				cursor: default;
			}
		}
	}

	.spo-updating {
		tr {
			cursor: default;
		}
	}

	.ui-sortable-placeholder {
		outline: 1px dashed #bbb;
		background: #F1F1F1;
		visibility: visible !important;
	}

	.ui-sortable-helper {
		background-color: #fff;
		outline: 1px solid #e1e1e1;
	}

	// Hide move in action for top level pages.
	.level-0 .row-actions .spo-move-in {
		display: none;
	}

	%spo-move-out {
		display: none;
	}

	/*
	 * Hide move out action for pages that are the child of the page above.
	 *
	 * This generates a truly wild selector using the private class. It may
	 * be better to calculate whether the item should be hidden in either PHP
	 * or JavaScript add a class to the item accordingly.
	 */
	@for $i from 0 through 30 {
		.level-#{$i} + .level-#{$i + 1} .row-actions .spo-move-out {
			@extend %spo-move-out;
		}
	}
}

.spo-updating-row {
	.check-column {
		display: table-cell; // reset from core .spinner
		float: none; // reset from core .spinner
		margin: 0; // reset from core .spinner
		background-position: 9px 9px;

		input {
			visibility: hidden;
		}
	}
}
