.wp-list-table {
	.ui-sortable {
		tr {
			cursor: move;
			&.inline-editor {
				cursor: default;
			}
		}
	}

	.spo-updating {
		tr {
			cursor: default;
		}
	}

	.ui-sortable-placeholder {
		outline: 1px dashed #bbb;
		background: #F1F1F1;
		visibility: visible !important;
	}

	.ui-sortable-helper {
		background-color: #fff;
		outline: 1px solid #e1e1e1;
	}
}

.spo-updating-row {
	.check-column {
		background: url('../../../wp-admin/images/spinner.gif') 10px 9px no-repeat;

		input {
			visibility: hidden;
		}
	}
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
	.spo-updating-row .check-column {
		background-image: url('../../../wp-admin/images/spinner-2x.gif');
		background-size: 20px 20px;
	}
}
